body {
    background-color: #FF5733;
}
#flex {
    display: flex;
    flex-direction: row;
}

nav {
    background-color: #900C3F;
}
main {
    background-color: #DAF7A6;
}

hl {
    color: #FFC300;
}